{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Attendance Report</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>PIN/NIK</th>
                    {% for date in dates %}
                    <th>{{ date.date.strftime('%Y-%m-%d') }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_data %}
                <tr>
                    <td>{{ record.nama }}</td>
                    <td>{{ record.pin_nik }}</td>
                    {% for time in record.attendance_times.split(',') %}
                    <td>{{ time if time else '-' }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<script>
$(document).ready(function() {
    $('#reportTable').DataTable({
        scrollX: true,
        fixedColumns: true
    });
});

function exportToExcel() {
    window.location.href = '/export_excel';
}
</script>
{% endblock %}